body {
    margin: 0px;
    background-color: #f4f4f4;;
}

header {
    background-color: #4CAF50;
    text-align: center;
    padding: 20px;
    color:white;
}

nav {
    background-color: #ffffff;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li{
    margin-right: 30px;
}

li a {
   text-decoration: none;
   color: #4CAF50;
   font-weight: bold;
   padding: 14px 16px;
}

li a:hover:not(.active){
    background-color: #45a049;
    color: #ffffff;
}

.active  {
    background-color: #45a049;
}
.concepto {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:20px 100px 20px 100px;
    padding: 20px;
    border-radius: 5px;
}

.concepto h2 {
    color: #4CAF50;
}

.caracteristicas {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-between;
}
.caja h3 {
    color: #4CAF50;
}
.caja {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 100px 20px 100px;
    border-radius: 5px;
    width: 450px;
    height: auto;
}
.caja p {
    display: block;
}
.suscribir {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 20px 100px 20px 100px;
}

.suscribir > h2 {
    margin: 0 0 15px;
}

.suscribir input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 60%;
}

.suscribir input[type="submit"] {
    
    padding: 10px 20px;
    background-color: #4CAF50 ;
    color: #ffffff;
    border-radius: 5px;
}

.suscribir input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}